doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet', href='./css/main.min.css')
.navigationWrapper
  .navigationItem
    a.navigationLink(href='index.html') Main
  .navigationItem
    a.navigationLink.navigationActive(href='team.html') Team
  .navigationItem
    a.navigationLink(href='lessons.html') Lessons
.bodyWrapper.teamBodyWrapper
  .rowGroupWrapper
    .teamMemberWrapper
      .memberPhoto.firstPhoto
      .informationWrapper
        p.blackText Andy Cube
        p.teamGreytext LOGOS IT Academy
      .dateWrapper
        p.teamGreytext 1 September 2019
    .teamMemberWrapper
      .memberPhoto.secondPhoto
      .informationWrapper
        p.blackText Andy Cube
        p.teamGreytext LOGOS IT Academy
      .dateWrapper
        p.teamGreytext 1 September 2019
    .teamMemberWrapper
      .memberPhoto.thirdPhoto
      .informationWrapper
        p.blackText Andy Cube
        p.teamGreytext LOGOS IT Academy
      .dateWrapper
        p.teamGreytext 1 September 2019
    .teamMemberWrapper
      .memberPhoto.fourthPhoto
      .informationWrapper
        p.blackText Andy Cube
        p.teamGreytext LOGOS IT Academy
      .dateWrapper
        p.teamGreytext 1 September 2019
  .rowGroupWrapper
    .teamMemberWrapper.smallerMemberWrapper
      .memberPhoto.fifthPhoto
      .informationWrapper
        p.blackText Andy Cube
        p.teamGreytext LOGOS IT Academy
      .dateWrapper
        p.teamGreytext 1 September 2019
    .teamMemberWrapper.smallerMemberWrapper
      .memberPhoto.sixthPhoto
      .informationWrapper
        p.blackText Andy Cube
        p.teamGreytext LOGOS IT Academy
      .dateWrapper
        p.teamGreytext 1 September 2019
    .teamMemberWrapper.smallerMemberWrapper
      .memberPhoto.seventhPhoto
      .informationWrapper
        p.blackText Andy Cube
        p.teamGreytext LOGOS IT Academy
      .dateWrapper
        p.teamGreytext 1 September 2019
    .teamMemberWrapper.smallerMemberWrapper
      .memberPhoto.eighthPhoto
      .informationWrapper
        p.blackText Andy Cube
        p.teamGreytext LOGOS IT Academy
      .dateWrapper
        p.teamGreytext 1 September 2019
